################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Encryptor/obj
/Encryptor/bin/Debug/netcoreapp2.2
/Encryptor/.vs/Encryptor
/Encryptor/bin/release/netcoreapp2.2
